.theme-marvel {
    --color-interaction-disabled: #caccd8;
    --color-interaction-focus: #000;
    --color-interaction-hover: #000;
    --color-interaction-pressed: #000;
    --color-interaction-resting: #000;
    --color-status-neutral: #6e7491;
    --color-status-error: #d40909;
    --color-status-success: #0d830f;
    --color-status-warning: #e58810;
    --color-status-disabled: #caccd8;
    --elevation-10-boxShadow: 0 1px 3px 0 rgba(0, 0, 0, .16);
    --focus-outline: 1px solid #4c5067;
    --focus-outlineOffset: 2px;
    --gradients-immersiveFull-dark-one: rgba(0, 0, 0, .23);
    --gradients-immersiveFull-dark-two: rgba(0, 0, 0, .38);
    --gradients-immersiveFull-dark-three: rgba(0, 0, 0, .54);
    --gradients-immersiveFull-light-one: hsla(0, 0%, 100%, .23);
    --gradients-immersiveFull-light-two: hsla(0, 0%, 100%, .38);
    --gradients-immersiveFull-light-three: hsla(0, 0%, 100%, .54);
    --gradients-immersiveTopBottom-dark-one: linear-gradient(180deg, transparent, rgba(0, 0, 0, .23) 54.2%, rgba(0, 0, 0, .23));
    --gradients-immersiveTopBottom-dark-two: linear-gradient(180deg, transparent, rgba(0, 0, 0, .38) 54.2%, rgba(0, 0, 0, .38));
    --gradients-immersiveTopBottom-dark-three: linear-gradient(180deg, transparent, rgba(0, 0, 0, .54) 54.2%, rgba(0, 0, 0, .54));
    --gradients-immersiveTopBottom-light-one: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .23) 54.2%, hsla(0, 0%, 100%, .23));
    --gradients-immersiveTopBottom-light-two: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .38) 54.2%, hsla(0, 0%, 100%, .38));
    --gradients-immersiveTopBottom-light-three: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .54) 54.2%, hsla(0, 0%, 100%, .54));
    --gradients-immersiveMiddle-dark-one: linear-gradient(-90deg, transparent, rgba(0, 0, 0, .23) 40.4%, rgba(0, 0, 0, .31) 71.24%, rgba(0, 0, 0, .42));
    --gradients-immersiveMiddle-dark-two: linear-gradient(-90deg, transparent, rgba(0, 0, 0, .38) 40.4%, rgba(0, 0, 0, .46) 71.24%, rgba(0, 0, 0, .55));
    --gradients-immersiveMiddle-dark-three: linear-gradient(-90deg, transparent, rgba(0, 0, 0, .54) 40.4%, rgba(0, 0, 0, .61) 71.24%, rgba(0, 0, 0, .7));
    --gradients-immersiveMiddle-light-one: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .23) 40.4%, hsla(0, 0%, 100%, .31) 71.24%, hsla(0, 0%, 100%, .42));
    --gradients-immersiveMiddle-light-two: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .38) 40.4%, hsla(0, 0%, 100%, .46) 71.24%, hsla(0, 0%, 100%, .55));
    --gradients-immersiveMiddle-light-three: linear-gradient(-90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .54) 40.4%, hsla(0, 0%, 100%, .61) 71.24%, hsla(0, 0%, 100%, .7));
    --inputs-borderColor-disabled: #caccd8;
    --inputs-borderColor-focus: #6e7491;
    --inputs-borderColor-hover: #6e7491;
    --inputs-borderColor-pressed: #6e7491;
    --inputs-borderColor-resting: #6e7491;
    --inputs-borderColor-error: #d44046;
    --inputs-background-disabled: fff;
    --inputs-background-focus: #fff;
    --inputs-background-hover: #fff;
    --inputs-background-pressed: #fff;
    --inputs-background-resting: #fff;
    --inputs-borderRadius: 0;
    --inputs-color-disabled: #caccd8;
    --inputs-color-focus: #000;
    --inputs-color-hover: #4c5067;
    --inputs-color-resting: #000;
    --inputs-color-error: #000;
    --inputs-outline-hover: 4px solid #dcdee5;
    --inputs-outline-focus: 4px solid #dcdee5;
    --inputs-outline-pressed: 4px solid #dcdee5;
    --inputs-placeholder-color-focus: #000;
    --inputs-placeholder-color-hover: #4c5067;
    --inputs-placeholder-color-resting: #6e7491;
    --inputs-placeholder-color-error: #000;
    --inputs-slot-color-resting: #000;
    --inputs-slot-color-disabled: #caccd8;
    --inputs-label-color-error: #d44046;
    --inputs-label-color-disabled: #caccd8;
    --motion-enter-duration: 300ms;
    --motion-enter-timing: cubic-bezier(0.15, 0.0, 0.0, 1.0);
    --motion-exit-duration: 100ms;
    --motion-exit-timing: cubic-bezier(0.15, 0.0, 0.0, 1.0);
    --motion-duration-slow: 500ms;
    --selectors-alignSelf: flex-start;
    --selectors-borderColor-disabled: var(--color-interaction-disabled);
    --selectors-borderColor-focus: var(--color-interaction-focus);
    --selectors-borderColor-hover: var(--color-interaction-hover);
    --selectors-borderColor-pressed: var(--color-interaction-pressed);
    --selectors-borderColor-resting: var(--color-interaction-resting);
    --selectors-borderColor-checked: #e62429;
    --selectors-background-disabled: fff;
    --selectors-background-focus: #fff;
    --selectors-background-hover: #fff;
    --selectors-background-resting: #fff;
    --selectors-background-checked: #e62429;
    --selectors-background-disabledChecked: #dcdee5;
    --selectors-background-focusChecked: #ca2020;
    --selectors-background-hoverChecked: #ca2020;
    --selectors-background-pressedChecked: #9f0013;
    --selectors-color-disabled: #caccd8;
    --selectors-color-hover: #fff;
    --selectors-color-pressed: #fff;
    --selectors-marginTop: 6px;
    --selectors-outline-hover: 0 0 0 4px #dcdee5;
    --selectors-outline-focus-boxShadow: 0 0 0 4px #dcdee5;
    --selectors-outline-focus-outline: 1px solid var(--color-interaction-focus);
    --selectors-outline-focus-outlineOffset: 2px;
    --selectors-outline-focus-checked-boxShadow: 0 0 0 1px #dcdee5;
    --selectors-outline-focus-checked-outline: none;
    --selectors-outline-pressed: 0 0 0 4px #dcdee5;
    --selectors-outline-pressedChecked: 0 0 0 4px #caccd8;
    --selectors-checkmark-color-resting: #fff;
    --selectors-checkmark-color-disabled: #6e7491;
    --selectors-statusMsg-font: var(--typography-t10);
    --selectors-statusMsg-marginTop: 4px;
    --selectors-statusMsg-neutral-color: #313442;
    --selectors-statusMsg-error-color: #000;
    --selectors-radio-background-hover: #dcdee5;
    --selectors-radio-background-focus: #dcdee5;
    --selectors-radio-background-pressed: #caccd8;
    --selectors-radio-boxShadow-focus: 0 0 0 2px #dcdee5, 0 0 0 3px #000;
    --selectors-label-color: #000;
    --typography-family-primary: UrwDin, RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    --typography-family-regular: UrwDin, Open Sans, Trebuchet MS, Helvetica, Arial, sans-serif;
    --typography-t90: 900 36px / 44px var(--typography-family-primary);
    --typography-t80: 900 32px / 40px var(--typography-family-primary);
    --typography-t60: 700 28px / 36px var(--typography-family-primary);
    --typography-t50: 700 24px / 28px var(--typography-family-primary);
    --typography-t45: 700 18px / 24px var(--typography-family-primary);
    --typography-t40: 700 16px / 20px var(--typography-family-primary);
    --typography-t30: 600 16px / 24px var(--typography-family-primary);
    --typography-t25: 400 18px / 28px var(--typography-family-regular);
    --typography-t20: 400 18px / 24px var(--typography-family-regular);
    --typography-t15: 500 14px / 16px var(--typography-family-primary);
    --typography-t10: 500 14px / 16px var(--typography-family-primary);
    --typography-t05: 600 12px / 16px var(--typography-family-primary);
    --carouselSlide-carouselSlideFocus-outlineColor: #3772df;
    --carouselArrow-default-backgroundColor: #e62429;
    --carouselArrow-default-color: #fff;
    --carouselArrow-default-height: 32px;
    --carouselArrow-default-width: 32px;
    --carouselArrow-default-hover-backgroundColor: #ca2020;
    --carouselArrow-default-focus-backgroundColor: #ca2020;
    --carouselArrow-default-active-backgroundColor: #9f0013;
    --badge-border-radius: 0;
    --badge-standard-bg: #000;
    --badge-standard-color: #fff;
    --badge-promoted-bg: #e62429;
    --badge-promoted-color: #fff;
    --badge-demoted-color: #000;
    --badge-overlay-bg: rgba(0, 0, 0, .75);
    --badge-overlay-color: #fff;
    --button-paddingLeft: 16px;
    --button-paddingRight: 16px;
    --button-textTransform: uppercase;
    --button-transform: skewX(-20deg);
    --button-content-transform: skewX(20deg);
    --button-iconOnly-transform: none;
    --button-iconOnly-content-transform: none;
    --button-promoted-bg-resting: #e62429;
    --button-promoted-bg-focus: #ca2020;
    --button-promoted-bg-hover: #ca2020;
    --button-promoted-bg-pressed: #9f0013;
    --button-promoted-bg-disabled: #dcdee5;
    --button-promoted-border-radius: 0;
    --button-promoted-color-resting: #fff;
    --button-promoted-color-focus: #fff;
    --button-promoted-color-hover: #fff;
    --button-promoted-color-pressed: #fff;
    --button-promoted-color-disabled: #caccd8;
    --button-standard-bg-resting: transparent;
    --button-standard-bg-focus: #eeeff2;
    --button-standard-bg-hover: #eeeff2;
    --button-standard-bg-pressed: #dcdee5;
    --button-standard-bg-disabled: transparent;
    --button-standard-border-color-focus: #000;
    --button-standard-border-color-hover: #000;
    --button-standard-border-color-pressed: #000;
    --button-standard-border-color-resting: #000;
    --button-standard-border-color-disabled: #caccd8;
    --button-standard-border-radius: 0;
    --button-standard-border-style: solid;
    --button-standard-border-width: 1px;
    --button-standard-color-resting: #000;
    --button-standard-color-focus: #4c5067;
    --button-standard-color-hover: #4c5067;
    --button-standard-color-pressed: #313442;
    --button-standard-color-disabled: #caccd8;
    --button-demoted-bg-resting: transparent;
    --button-demoted-bg-focus: #eeeff2;
    --button-demoted-bg-hover: #eeeff2;
    --button-demoted-bg-pressed: #dcdee5;
    --button-demoted-bg-disabled: tranparent;
    --button-demoted-border-radius: 0;
    --button-demoted-border-style: solid;
    --button-demoted-border-width: 1px;
    --button-demoted-color-resting: #000;
    --button-demoted-color-focus: #4c5067;
    --button-demoted-color-hover: #4c5067;
    --button-demoted-color-pressed: #313442;
    --button-demoted-color-disabled: #caccd8;
    --button-demoted-focus-outline: var(--focus-outline);
    --caption-title-color: #6c6d6f;
    --caption-text-color: #6c6d6f;
    --caption-credit-color: #6c6d6f;
    --caption-creditSource-color: #6c6d6f;
    --caption-separator-color: #6c6d6f;
    --caption-source-color: #6c6d6f;
    --caption-truncateBtn-color: #3772df;
    --caption-truncateBtn-hover-color: #305bc8;
    --caption-truncateBtn-focus-color: #305bc8;
    --caption-truncateBtn-active-color: #1a49a0;
    --caption-dark-view-color: #9d9e9f;
    --caption-dark-title-color: #b5b7b7;
    --caption-dark-text-color: #b5b7b7;
    --caption-dark-credit-color: #b5b7b7;
    --caption-dark-creditSource-color: #b5b7b7;
    --caption-dark-separator-color: #b5b7b7;
    --caption-dark-source-color: #b5b7b7;
    --caption-dark-truncateBtn-color: #588ae4;
    --caption-dark-truncateBtn-hover-color: #7aa1ea;
    --caption-dark-truncateBtn-focus-color: #7aa1ea;
    --caption-dark-truncateBtn-active-color: #9bb9ef;
    --card-detailsListDark-color: #dcdee5;
    --card-detailsList-color: #6e7491;
    --card-detailsList-item-color: #6e7491;
    --dateTime-regular-font: var(--typography-t10);
    --divider-borderColor: #cecfcf;
    --dockedVideoPlayer-motion-delay: var(--motion-duration-slow);
    --dockedVideoPlayer-motion-enter-duration: var(--motion-enter-duration);
    --dockedVideoPlayer-motion-enter-timing: var(--motion-enter-timing);
    --hyperlink-resting-color: var(--color-interaction-resting);
    --hyperlink-disabled-color: var(--color-interaction-disabled);
    --hyperlink-focus-color: var(--color-interaction-focus);
    --hyperlink-pressed-color: var(--color-interaction-pressed);
    --meta-simpleIndicators-borderBottom: none;
    --meta-simpleIndicators-borderTop: none;
    --meta-dark-color: #fff;
    --meta-headline-textTransform: uppercase;
    --meta-body-lineHeight: 18px;
    --moreOptions-default-background: #121213;
    --moreOptions-header-borderColor: #243745;
    --moreOptions-button-hover-background: #1e2930;
    --paginationDots-dot-background: #b0b4c4;
    --paginationDots-dot-borderRadius: 0;
    --paginationDots-dot-borderColor: #b0b4c4;
    --paginationDots-dot-height: 2px;
    --paginationDots-dot-width: 8px;
    --paginationDots-dotActive-background: #e62429;
    --paginationDots-dotActive-borderColor: #e62429;
    --paginationDots-dotActive-height: 2px;
    --paginationDots-dotActive-width: 8px;
    --popover-backgroundColor: #fff;
    --popover-borderRadius: 4px;
    --popover-boxShadow: 0px 3px 3px 0px rgba(0, 0, 0, .25);
    --popover-color: #000;
    --popover-font: var(--typography-t05);
    --popover-padding: 10px;
    --popover-zIndex: 99;
    --popover-arrow-size: 20px;
    --primaryControls-liveIcon-hover-border: 1.25px solid #3772df;
    --primaryControls-liveIcon-hover-color: #3772df;
    --primaryControls-button-label-color-hover: #3772df;
    --primaryControls-button-label-color-pressed: #3772df;
    --primaryControls-disabled-color: #121213;
    --primaryControls-disabled-hover-color: #121213;
    --primaryControls-focus-boxShadow: var(--focus-outline);
    --primaryControls-label-color: #121213;
    --primaryControls-label-hover-color: #3772df;
    --primaryControls-labelDisabled-color: #121213;
    --primaryControls-labelDisabled-hover-color: #121213;
    --richText-default-a-textDecoration: underline;
    --tag-outlineOffset: 2px;
    --tag-textTransform: uppercase;
    --tag-standard-border-color-resting: #000;
    --tag-standard-border-color-hover: #4c5067;
    --tag-standard-border-color-focus: #4c5067;
    --tag-standard-border-color-pressed: #313442;
    --tag-standard-border-color-disabled: #caccd8;
    --tag-standard-color-resting: #000;
    --tag-standard-color-hover: #4c5067;
    --tag-standard-color-focus: #4c5067;
    --tag-standard-color-pressed: #313442;
    --tag-standard-color-disabled: #caccd8;
    --tag-standard-bg-hover: #eeeff2;
    --tag-standard-bg-focus: #eeeff2;
    --tag-standard-bg-pressed: #dcdee5;
    --tag-standard-outline-focus: 2px solid #4c5067;
    --tag-promoted-color-resting: #fff;
    --tag-promoted-color-hover: #fff;
    --tag-promoted-color-focus: #fff;
    --tag-promoted-color-pressed: #fff;
    --tag-promoted-color-disabled: #caccd8;
    --tag-promoted-bg-resting: #e62429;
    --tag-promoted-bg-hover: #ca2020;
    --tag-promoted-bg-focus: #ca2020;
    --tag-promoted-bg-pressed: #9f0013;
    --tag-promoted-bg-disabled: #dcdee5;
    --tag-promoted-border-color-resting: #e62429;
    --tag-promoted-border-color-hover: #e62429;
    --tag-promoted-border-color-focus: #ca2020;
    --tag-promoted-border-color-pressed: #9f0013;
    --tag-promoted-border-color-disabled: #dcdee5;
    --tag-promoted-outline-focus: var(--focus-outline);
    --tag-border-color: #000;
    --tags-heading-font: var(--typography-t60);
    --toast-background: #305bc8;
    --toast-variant-info: #305bc8;
    --toast-variant-success: #41ba42;
    --toast-variant-warning: #ebc438;
    --toast-variant-danger: #f95252;
    --toast-border-radius: 6px;
    --toast-message-color: #fff;
    --tooltip-backgroundColor: #9d9e9f;
    --tooltip-borderRadius: 4px;
    --tooltip-boxShadow: 0px 3px 3px 0px rgba(0, 0, 0, .25);
    --tooltip-color: #fff;
    --tooltip-font: var(--typography-t05);
    --tooltip-padding: 10px;
    --tooltip-zIndex: 99;
    --tooltip-arrow-size: 20px;
    --truncate-button-font: var(--typography-t15);
    --truncate-button-color: var(--color-interaction-resting);
    --truncate-caret-marginLeft: 2px;
    --videoPlayerUi-mediaMetaBackground-background: #121213;
    --videoPlayerUi-pipButton-hover-color: #3772df;
}
:root {
    --loader-size: 44px;
    --loader-half-size: 22px;
    --loader-animation-speed: 1.75s;
    --grid-gap-size: 20px;
    --color-white: #fff;
    --color-black: #000;
    --color-red-1: #e62429;
    --color-red-2: #d83138;
    --color-red-3: #9f0013;
    --color-red-4: #ca2020;
    --color-red-5: #ff7f7f;
    --color-gold-1: #c6a972;
    --color-gold-2: #ae8b50;
    --color-gold-3: #e8b63e;
    --color-gray-1: #f2f2f2;
    --color-gray-2: #e1e1e1;
    --color-gray-3: #bbb;
    --color-gray-4: #999;
    --color-gray-5: #b0b4c4;
    --color-gray-6: #dcdee5;
    --color-gray-7: #eeeff2;
    --color-gray-8: #caccd8;
    --color-dark-1: #202020;
    --color-dark-2: #151515;
    --color-dark-3: #393939;
    --color-dark-4: #767676;
    --color-dark-5: #131619;
    --color-blue-1: #1e2029;
    --color-blue-2: #13141a;
    --color-blue-3: #4c5067;
    --color-blue-4: #989caf;
    --color-blue-5: #313441;
    --color-blue-6: #6e7491;
    --color-green-1: #41ba42;
    --color-selection: #bbd7fc;
    --color-mu-blue-1: #0f73f6;
    --color-mu-blue-2: #3e37f2;
    --generic-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .15);
    --color-draft: #db81ff;
    --color-archived: #ff9574;
    --color-needs_review: #8fccff;
    --ff-path: "https://cdn.marvel.com/u/prod/marvel/font";
    --ff-regular: "urwdin-regular", "Trebuchet MS", Helvetica, Arial, sans-serif;
    --ff-condensed-bold: "urwdin-condensed-bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
    --ff-condensed-black: "urwdin-condensed-black", "Trebuchet MS", Helvetica, Arial, sans-serif;
    --ff-semi-condensed-demi: "urwdin-semi-condensed-demi", "Trebuchet MS", Helvetica, Arial, sans-serif;
    --ff-semi-condensed-medium: "urwdin-semi-condensed-medium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    --screen-s: 480px;
    --screen-m: 838px;
    --screen-m2: 1024px;
    --screen-m3: 1200px;
    --screen-l: 1240px;
    --screen-xl: 1440px;
    --screen-default: 1248px;
    --screen-margin: 4.167%;
    --modal-inner-borderRadius: 0;
    --selectors-wrapper-flexWrap: nowrap;
    --icon-mu-badge: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='currentColor' d='M11.48 6.96 5.39 8.73 3.67 21.95c-.45 3.35.26 5.8 1.81 7.46-2.69-1.7-3.84-4.83-3.29-8.95L3.82 7.6l7.85-2.25-.2 1.61zm13.68-3.91-6.15 1.78-2.78 22.53-.14 1.12h-2.81c-1.13 0-2.02-.67-2.35-1.63.28.1.58.14.87.14h2.79l.14-1.11 2.74-22.2 7.85-2.25-.17 1.62z'/%3E%3Cpath fill='%23fff' d='m17.47 3.68 7.85-2.26-3.06 29.44H11.29c-6.75 0-9.95-4.02-9.11-10.39L3.82 7.61l7.85-2.26-2.36 18.82c-.17 1.56.92 2.81 2.48 2.81h2.79l.14-1.11zM23.24 32l3.37-32-10.14 2.92-2.87 22.95h-1.67c-.95 0-1.59-.75-1.48-1.7l2.48-20.24L2.82 6.86 1.07 20.47C.12 27.74 4.05 32 11.15 32z'/%3E%3Cpath fill='%230075ff' d='m22.26 30.86 2.9-27.82-6.15 1.78-2.78 22.53-.14 1.12h-2.81c-1.13 0-2.02-.67-2.35-1.63-1.07-.37-1.74-1.42-1.61-2.67l2.16-17.21-6.09 1.77-1.72 13.22c-.45 3.36.26 5.8 1.81 7.46 1.48.94 3.43 1.44 5.82 1.45h10.97z'/%3E%3Cpath fill='%23e62429' d='M0 22.99h26.62V12.28H0V23z'/%3E%3Cpath fill='%23fff' d='M25.8 20.51v1.62h-2.99v-8.99h1.61v7.38h1.38zm-12.79-2.96c-.12.06-.25.09-.38.09v-2.89c.13 0 1.08.04 1.08 1.43 0 .73-.32 1.18-.7 1.37m-4.72 1.78.45-3.85.46 3.85zm14.24-4.55v-1.64h-4.56l-.75 5.48-.74-5.48h-1.64l.18 1.46c-.19-.38-.86-1.46-2.35-1.46h-1.65v7.99l-1.21-7.99H7.65l-1.24 8.27v-8.27H4.35l-.74 4.65-.72-4.65H.82v8.99h1.63V17.8l.74 4.34h.86l.73-4.34v4.34h3.13l.19-1.38h1.26l.19 1.38h3.08v-2.92l.38-.06.78 2.98h1.6l-1.03-3.49c.52-.39 1.11-1.36.95-2.29l.97 5.79h1.89l1.29-8.16v8.15h3.07v-1.62h-1.46v-2.06h1.46v-1.64h-1.46v-2.03h1.46z'/%3E%3C/svg%3E);
}
header{
    background-color: black;
}




nav{
    display: flex;
    gap:20px;
}
.Nicolas__navigation{
    color: black;
    left: 0;
    position: fixed;
    top: -200px;
    transition: top .35s ease-out;
    width: 100%;
    z-index: 3;
}